/* body{
  background-color: #ebf2ff;
  transition: 0.5s;
  font-family: "work sans";
  margin-left:5%;
} */

*{
  margin: 0;
  padding: 0;
  
}
body{
    
  font-family: 'Poppins', sans-serif;
  background-color: #ebf2ff;
}
.hide {
  display: none;
}